/* Options Framework Admin Styles */
#panelheader {
	width:100%;
	height: 110px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	border-top-left-radius: 6px 6px !important;
	border-top-right-radius: 6px 6px !important;
	background: #efefef;
}
#panelheader .header-info{
	float: right;
	width:auto;
	margin: 10px 15px;
	color: #858585;
	font: 23px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	text-shadow: 0 1px 0 #fff;
	background: url("../img/icon_option.png") no-repeat left center;
	padding:30px 0 30px 40px;
}
#branding {
	margin: 14px 15px 0 15px;
	width: auto;
	float:left;
}

#settings-metabox {
	width:auto;
	overflow:hidden;
	border:1px solid #ddd;
	border-top:0;
	padding:0px 0 1px;
}

.gabfire-plugin-settings.metabox-holder h3 {
	cursor:default !important;
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
	box-shadow:none;
	text-shadow:none;
}


.postbox {
	background:#fff !important;
}

.gabfire_options_submit {
	padding: 7px 12px 6px;
	border-bottom: 1px solid #ddd;
	overflow:hidden;
	background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
}
.gabfire_options_submit.submit-bottom {
	border-top: 1px solid #ddd;
	border-bottom:none;
}
.gabfire_options_submit .button-primary {
	float:right;
	width:auto;
}
.gabfire_options_submit.marginbottom {
	margin-bottom:15px
}
.activate_widgets_notice {
	float:left;
	width:auto;
	margin:6px 0 0 0;
	font-size:13px;
}

.gabfire_custom_branding_image_remove {
	color: red;
}

.gabfire_settings_image {
	/*
width: 100% !important;
	height: 100% !important;
*/
}